copy_command "wl-copy"
scroll_buffer_size 1000000

themes {
    main {
        fg "#c0caf5"
        bg "#292e42"
        black "#1a1b26"
        red "#f7768e"
        green "#2ac3de" // This is just cyan for borders
        yellow "#e0af68"
        blue "#7aa2f7"
        magenta "#bb9af7"
        cyan "#7dcfff"
        white "#a9b1d6"
        orange "#ff9e64"
    }
}
theme "main"

ui {
    pane_frames {
        rounded_corners true
    }
}

plugins {
    zjstatus location="file:/home/jonny/.config/zellij/zjstatus.wasm" 
    autolock location="file:/home/jonny/.config/zellij/zellij-autolock.wasm" {
        triggers "nvim"
        watch_triggers "fzf"
        watch_interval "0.1"
    }
}

keybinds clear-defaults=true {
    normal {
        bind "Enter" {
            WriteChars "\u{000D}";
            MessagePlugin "autolock" {};
        }
    }
    shared_except "normal" "locked" {
        bind "Esc" { SwitchToMode "Normal"; }
    }
    // Standard Mode Bindings
    locked {
        bind "Alt ." { SwitchToMode "Normal"; }
        bind "Alt o" { ToggleFloatingPanes; }
    }
    shared_except "locked" {
        bind "Alt ." { SwitchToMode "Locked"; }
        // Pane Settings
        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt x" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "Alt v" { NewPane "Right"; SwitchToMode "Normal"; }

        // Tab Settings
        bind "Alt H" { MoveTab "Left"; }
        bind "Alt J" { MoveFocusOrTab "Left"; }
        bind "Alt K" { MoveFocusOrTab "Right"; }
        bind "Alt L" { MoveTab "Right"; }
        bind "Alt V" { NewTab; }
        bind "Alt B" { BreakPane; }

        // Floating Settings
        bind "Alt o" { ToggleFloatingPanes; }

        // Misc Settinggs
        bind "Alt n" { NextSwapLayout; }
        bind "Alt s" { EditScrollback; }

        // Plugin Setting
        bind "Alt /" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
            }
        }

    }
    // Resize Mode Bindings
    shared_except "resize" "locked" {
        bind "Alt r" { SwitchToMode "Resize"; }
    }
    resize {
         bind "Alt r" { SwitchToMode "Normal"; }
         bind "h" { Resize "Increase Left"; }
         bind "j" { Resize "Increase Down"; }
         bind "k" { Resize "Increase Up"; }
         bind "l" { Resize "Increase Right"; }
         bind "H" { Resize "Decrease Left"; }
         bind "J" { Resize "Decrease Down"; }
         bind "K" { Resize "Decrease Up"; }
         bind "L" { Resize "Decrease Right"; }
    }
    // Move Mode Bindings
    shared_except "move" "locked" {
        bind "Alt t" { SwitchToMode "Move"; }
    }
    move {
        bind "Alt t" { SwitchToMode "Normal"; }
        bind "n" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "h" { MovePane "Left"; }
        bind "j" { MovePane "Down"; }
        bind "k" { MovePane "Up"; }
        bind "l" { MovePane "Right"; }
        bind "o" { TogglePaneEmbedOrFloating; }
    }
}
