.anydesk/
.bash_history
.bash_logout
.bash_profile
.bun/
.cache/
.cargo/
.config/.avalonia-build-tasks/
.config/HKModInstaller/
.config/JetBrains/
.config/Proton Pass/
.config/QtProject.conf
.config/Vial/
.config/WebCord/
.config/chromium/
.config/dconf/
.config/discord/
.config/filezilla/
.config/freerdp/
.config/go/
.config/gtk-3.0/bookmarks
.config/kdeconnect/
.config/keepassxc/
.config/libreoffice/
.config/menus/
.config/pavucontrol.ini
.config/pulse/
.config/remmina/
.config/sqls/
.config/streamrip/
.config/systemd/
.config/unity3d/
.config/vesktop/
.degit/
.dotfiles/
.dotnet/
.gnupg/
.histfile
.java/
.local/
.mixxx/
.mozilla/
.netExtender.log
.netExtenderCerts/
.netextender
.node_repl_history
.npm/
.nuget/
.nvidia-settings-rc
.ollama/
.pki/
.pulse-cookie
.rustup/
.ssh/
.steam/
.steampath
.steampid
.templateengine/
.wget-hsts
.wine/
.zcompdump
Backup/
Desktop/
Documents/
Downloads/
Music/
Pictures/
StreamripDownloads/
go/
proj/
