.anydesk/
.bash_history
.bash_logout
.bash_profile
.bun/
.cache/
.cargo/
.config/JetBrains/
.config/QtProject.conf
.config/Vial/
.config/WebCord/
.config/chromium/
.config/dconf/
.config/discord/
.config/filezilla/
.config/freerdp/
.config/go/
.config/godot/
.config/kdeconnect/
.config/keepassxc/
.config/libreoffice/
.config/menus/
.config/pavucontrol.ini
.config/pulse/
.config/remmina/
.config/sqls
.config/systemd/
.config/unity3d/
.config/vesktop/
.degit/
.dotfiles/
.dotnet/
.gnupg/
.histfile
.java/
.local/
.mozilla/
.node_repl_history
.npm/
.nuget/
.pki/
.pulse-cookie
.rustup/
.ssh/
.steam/
.steampath
.steampid
.templateengine/
.vim/
.viminfo
.wget-hsts
.yarnrc
.zcompdump
Backup/
Desktop/
Documents/
Downloads/
Pictures/
go/
proj/
