.azuredatastudio/
.bash_history
.bash_logout
.bash_profile
.bun/
.cache/
.cargo/
.config/Code/
.config/QtProject.conf
.config/Vial/
.config/azuredatastudio/
.config/bottom/
.config/cef_user_data/
.config/chromium/
.config/dconf/
.config/discord/
.config/freerdp/
.config/fuzzel/
.config/go/
.config/keepassxc/
.config/libreoffice/
.config/mimeapps.list
.config/pavucontrol.ini
.config/pulse/
.config/qBittorrent/
.config/remmina/
.config/smb4krc
.config/vlc/
.dotfiles/
.gnupg/
.histfile
.lesshst
.local/
.mariadb_history
.mozilla/
.npm/
.pki/
.rustup/
.sqlsecrets/
.ssh/
.steam/
.steampath
.steampid
.vscode/
.wine/
.zcompdump
Carson/
Desktop/
Documents/
Downloads/
Pictures/
all/
apps/
dev/
go/
rsi-images/
test.vil
