[user]
  email = jonny@jloughlin.dev
  name = Jonny Loughlin

[diff]
  tool = difftastic

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true

[alias]
  cm = commit
  st = status
  br = branch
  hist = log --graph --oneline --color
  df = difftool

[merge]
  conflictstyle = zdiff3
