swap_floating_layout name="FLOATING" {
    floating_panes max_panes=1 {
        pane x="2%" y="2%" width="96%" height="92%"
    }
    floating_panes max_panes=2 {
        pane x="2%" y="2%" width="46%" height="92%"
        pane x="52%" y="2%" width="46%" height="92%"
    }
    floating_panes max_panes=3 {
        pane x="2%" y="2%" width="30%" height="92%"
        pane x="35%" y="2%" width="30%" height="92%"
        pane x="68%" y="2%" width="30%" height="92%"
    }
}

