@define-color default-text-color #e9e9ed;
@define-color default-bg-color #1a1b26;
@define-color default-unfocused_borders #73738c;
@define-color default-focused_borders #e9e9ed;
@define-color default-hover-borders #27a1b9;

#waybar {
    font-family: 'CommitMono Nerd Font Mono', 'Noto Sans Mono';
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
}


#workspaces {
    margin-left: 4px;
    margin-bottom: 4px;
    padding-top: 4px;
}

#workspaces button {
    margin-right: 4px;
    padding: 0px 4px;
    border-radius: 6px;
    color: @default-text-color;
    background-color: @default-bg-color;
    border: 2px solid @default-unfocused_borders;
}

#workspaces button.active {
    border: 2px solid @default-focused_borders;
}


#workspaces button:hover {
    border: 2px solid @default-hover-borders;
}

#window {
    margin: 4px 4px;
    padding: 2px 4px;
    color: @default-text-color;
    background-color: @default-bg-color;
    border: 2px solid @default-focused_borders;
    border-radius: 6px;
}

window#waybar.empty #window {
    border: 0;
    color: transparent;
    background-color: transparent;
}

#backlight,
#pulseaudio,
#network,
#temperature,
#battery,
#clock,
#tray {
    margin: 4px;
    padding: 2px 6px;
    color: @default-text-color;
    background-color: @default-bg-color;
    border: 2px solid @default-focused_borders;
    border-radius: 6px;
}
