* {
  font-family: IntoneMono Nerd Font Mono;
  font-size: 12px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
  margin-right: 4px;
  padding: 0px 0px;
  color: #AACCCC;
  background-color: #24283B;
  border: 2px solid gray;
}

#workspaces button:hover {
  border: 2px solid cyan;
}

#workspaces button.active {
  color: #24283B;
  background-color: #888888;
  border: 2px solid #AACCCC;
}

#workspaces{
  margin-left: 4px;
  margin-bottom: 4px;
  padding-top: 4px;
} 

#backlight,
#pulseaudio,
#network,
#temperature,
#battery,
#clock,
#tray {
  margin: 4px;
  padding: 2px 6px;
  color: #AACCCC;
  background-color: #24283b;
  border: 2px solid #AACCCC; 
  border-radius: 6px;
}
