/** Import Lepton stylesheet (Chrome) *****************************************/
@import url("css/leptonChrome.css");

/** Add your custom styles below **********************************************/
#sidebar-box {
    min-width: 400px !important;
}

#nav-bar {
    margin-top: 0px !important;
    min-width: 400px !important;
}

#sidebar-header {
    min-width: 100% !important;
}

#sidebar {
    min-width: 100% !important;
}

#urlbar-container {
    min-width: 98% !important;
}

#urlbar {
    max-width: 96%;
}
